<div class="footer">
  <div class="container">
  <div class="touch-top heading">
      <h3 style="color:#fff !important">CONTACT US</h3>
      <h4 style="color:white">022 - 2222222</h4>
    </div>
  </div>
</div>